        <html ng-app="myAjsApp">
        <head>
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular/angular-resource.js"></script>
        <script src="js/mainCtrls_v1.js"></script>
        <script src="js/myServices_v1.js"></script>

        </head>
        <body ng-controller="CompteListCtrl">
	<div id="divParam">
         numClient : <input ng-model="numClient"  /> <br/>
        <button ng-click="refreshWithNumClientWithRest()">refresh by numClient (with rest)</button>
        
	</div>
        <div id="divCompte">
        <h3> liste des comptes du client {{numClient}} </h3> 
        <table border="1">
        <tr> <th>numero</th> <th>label</th> <th>solde</th></tr>
        <tr ng-repeat="cpt in comptes">
           <td>{{cpt.numero}}</td> <td>{{cpt.label}}</td> <td>{{cpt.solde}}</td>
         </tr>
        </table>
        </div>
        
        <div id="divTransfert">
        <h3> param virement </h3> 
         montant : <input ng-model="transfert.montant"  /> <br/>
          numCptDeb : <input ng-model="transfert.numCptDeb"  /> <br/>
          numCptCred : <input ng-model="transfert.numCptCred"  /> <br/>
        <button ng-click="doVirementAndRefresh()">effectuer le virement</button>
         <hr/>
        {{message}}
	     </div>
        </body>
        </html>